{
	"extends": "eslint-config-standard",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"globals": {
		"$": false,
		"jQuery": false,
		"React": false,
		"ReactDOM": false,
		"MathJax": false
	},
	"plugins": [
		"react",
		"babel"
	],
	"rules": {
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-tabs": 0,
		"react/jsx-uses-vars": 2,
		"space-before-function-paren": 0,
		"no-useless-constructor": 0
	}
}
