:global{
	.mask{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(.17,.17,.17,.75);
			overflow: hidden;
			z-index: 1000;
	}
	.modal-container{
			position: relative;
			top: 25%;
			margin: 0 auto;
			padding: 20px 14px;
			width: 390px;
			background: white;
			text-align: center;
			border-radius: 6px;
			.title{
					margin-top: 15px;
					color: #0D1F2A;
					font-size: 16px;
			}
			.sub-title{
					margin-top: 5px;
					margin-bottom: 15px;
					color: #9BA3B7;
					font-size: 14px;
			}
			.modal-buttons{
					div{
							display: inline-block;
							width: 140px;
							height: 40px;
							line-height: 40px;
							font-size: 18px;
							border: 1px solid #2391FE;
							border-radius: 10px;
					}
					div:first-child{
							margin-right: 30px;
							color: #2391FE;
							background: white;
					}
					div:last-child{
							color: white;
							background: #2391FE;
					}
			}
	}
}
