.component-draw-tools {
    display: inline-block;
    font-size: 14px;

    .component-draw-tools-info {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #a3b4cc;
        span {
            display: inline-block;
            animation: spin 4s infinite linear;
        }
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        touch-action: none;
        user-select: none;
        cursor: default;
        border: 1px solid red;
    }

    input {
        padding-left: 4px;
        height: 30px;
        color: #ff6337;
        background: transparent;
        border: 1px solid #ff7d71;
        outline: none;
    }

    input::placeholder {
        color: #a3b4cc;
    }
}